---
import AppRouter from "@/components/Router";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>VR Robotics Academy - Curriculum</title>
  </head>
  <body>
    <div id="root">
      <AppRouter client:only="react" />
    </div>
  </body>
</html>
